div pagination-controls {
    display: flex;
  align-items: center;
  justify-content: center; 
}

.highlighted {
     background-color: lightblue;
}

table {
  height: 500px;
}

th {
  padding-left: 5px;
  padding-right: 4px;
}