
<div class="mx-auto my-4 btn-group" role="group">
    <button type="button" class="btn btn-outline-dark" (click)="addCompany()" >Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="editCompany()" [disabled]="companyObject === 'default'">Edit</button>
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#companyModal" [disabled]="companyObject === 'default'">Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="addService()" [disabled]="companyObject === 'default'">Add service</button>
</div>

<hr>

<router-outlet></router-outlet>