<div class="row p-3 mx-auto">
    <div class="col-sm-6 align-middle p-5">
        <a class="btn p-5 card" routerLink="/services/list-user" routerLinkActive="active" >
            <div class="card-body">
              <h5 class="card-title">Services</h5>
              <p class="card-text">Add a new service.</p>
            </div>
        </a>
    </div>
    <div class="col-sm-6 align-middle p-5">
        <a class="btn p-5 card" routerLink="/companies/list" routerLinkActive="active" >
                <div class="card-body">
                  <h5 class="card-title">Companies</h5>
                  <p class="card-text">See all the companies and each service they provide.</p>
                </div>
        </a>
    </div>
  </div>
  <div class="row p-3 mx-auto">
    <div class="col-sm-6 align-middle p-5">
        <a class="btn p-5 card" routerLink="/bookings" routerLinkActive="active">
                <div class="card-body">
                  <h5 class="card-title">Bookings</h5>
                  <p class="card-text">Check out all the booked services.</p>
                </div>
        </a>
    </div>
    <div class="col-sm-6 align-middle p-5 pt-0">
        <a class="btn p-5 card" routerLink="/employees" routerLinkActive="active">
                <div class="card-body">
                  <h5 class="card-title">Employees</h5>
                  <p class="card-text">Manage all the employees.</p>
                </div>
        </a>
    </div>
  </div>