<div class="div-header">
  <h3>Here you can find companies, services and make bookings online</h3>
  <p class="div-comment">It's easy, safe and free!</p>
  <div class="div-button">
    <button type="button" (click)="makeBooking()">Make a booking</button>
  </div>
</div>

<div class="container">
    <div class="section-container">
        <h2 class="section-title">Companies</h2>
        <hr>
        <div class="section-body">
            <div *ngFor="let company of companies | slice:0:4;  let i=index" class="card mb-3" (click)="selectCompany($event, company)">
                <div class="row">
                    <div class="col-md-4">
                      <img src="{{company.logoLink}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{company.name}}</h5>
                        <p class="card-text">{{company.description}}</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <footer>
            <a class="nav-link" routerLink="/companies/list" routerLinkActive="active">See more</a>
        </footer>
    </div>
        
    <div class="section-container">
        <h2 class="section-title">Services</h2>
        <hr>
        <div class="section-body">
            <div *ngFor="let service of services | slice:0:4;  let i=index" class="card mb-3" style="background-color:lavender;"
            (click)="selectService($event, service)">
                <div class="row">
                  <div class="col" style="flex: 2;">
                    <div class="card-body">
                      <h5 class="card-title">{{service.name}}</h5>
                      <p class="card-text">{{service.description}}</p>
                    </div>
                  </div>

                    <div class="col" style="flex: 1;">
                        <div class="card-body">
                            <h6 class="card-title">Company:</h6>
                            <p class="card-text" style="font-style: italic;">{{service.company}}</p>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <footer>
            <a class="nav-link" routerLink="/services/list-user" routerLinkActive="active">See more</a>
        </footer>
    </div>
</div>






