<div class="container">
    <div class="left-section">
        <img src="/assets/startlogo.png">
    </div>
    <div class="right-section">
        <div class="login">
            <h2>Welcome to BookingApp!</h2>
            <br>
            <p>Sign in to have access to all the services and make bookings <span style="font-weight: bold;">for free</span></p>
            <br>
            <button (click)="navigateToDashboard()">Sign in</button>
            <br>
            <small>Not a member? <a (click)="register()">Sign up here</a></small>
        </div>
    </div>
</div>