<div class="mx-auto my-4 btn-group btn-container" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-dark" (click)="addBooking()">Add</button>
    <button type="button" class="btn btn-outline-dark" [disabled]="bookingObject === 'default'" (click)="editBooking()">Edit</button>
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#bookingModal" [disabled]="bookingObject === 'default'">Delete</button>
</div>

<hr>

<router-outlet></router-outlet>