.container {
    display: block;
    position: relative;
    top: 2rem;
}

.title {
    text-align: center;
    color: #270949;
    display: block;
    margin-bottom: 30px;
}

.body {
  display: block;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.body-column {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 10px;
    flex: 1 1 100%;  
    text-align: center;
}

img {
    height: 150px;
    max-width: 100%;
    align-items: center;
    position: relative;
    flex: 0;
}

p {
    position: relative;
    top: 35%;
    font-size: 1.4rem;
    flex: 1;
}
.services-section {
    margin-top: 30px;
    align-items: stretch;
    align-content: center;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
}

.card {
    box-shadow: 0 1px 2px rgba(55, 63, 66, 0.07),
    0 2px 4px rgba(55, 63, 66, 0.07),
    0 4px 8px rgba(55, 63, 66, 0.07),
    0 8px 16px rgba(55, 63, 66, 0.07), 
    0 16px 24px rgba(55, 63, 66, 0.07),
    0 24px 32px rgba(55, 63, 66, 0.07);
    background-color:lavender;
    cursor: pointer;
    margin: 10px;
    box-sizing: border-box;
    flex-basis: 40%;
    float: left;
    display: flex;
    min-width: 100px;
}

@media screen and (max-width: 993px) {
    .body-column{
      display: flex;
      margin: 0;
      min-height: 150px;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
    }
    .body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img {
        position: relative;
        top: 0;
        left: 0;
        max-width: 450px;
        flex-grow: -1;
    }
    .card{
        display: block;
        margin: 0;
        flex-basis: 100%;
      }
      .services-section {
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
}