/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(246, 249, 254);
    font-size: 16px;
    font-style: "Trebuchet MS", Helvetica, sans-serif;
};

